
.App{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #415a91;

  
}

.App img{
  max-width: 400px;
  max-height: 400px;
}


.AppImage{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.507);
  border-radius: 6px;
  padding: 10px 10px 0;
}

.AppImage p {
  font-size: 20px;
  font-style: italic;
}

.AppUncoorectDate {
  font-size: 30px;
  color: white;
  align-items: center;
}